*.vo
*.glob
*.v.d
*.aux
.coqdeps.d
caml_typedef.dvi
caml_typedef.lem
caml_typedef.log
caml_typedef.pdf
caml_typedef.ps
caml_typedef.rawtex
caml_typedef.tex
caml_typedef.thy
caml_typedef.toc
caml_typedef.v
caml_typedefScript.sml
caml_typedef_reduction.ott
caml_typedef_syntax.ott
caml_typedef_typing.ott
